title: Shangxukang Notes
description: Blockchain / Metaverse / General CS
theme: minima

markdown: kramdown
kramdown:
  input: GFM

plugins:
  - jekyll-feed

# 可选：让 /blockchain 这种链接更干净
permalink: /:categories/:title/